<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142844199541-j1igv7oq220jk9vo82cb87ophvon9610.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142844199541-j1igv7oq220jk9vo82cb87ophvon9610</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>142844199541-ha1712nrsvdrso7lt9m5bt1o86tc7261.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDDKwtYoJ7i-kxqOzI032MhBgthjYaOuWY</string>
	<key>GCM_SENDER_ID</key>
	<string>142844199541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.najiezzeldien.najiShop</string>
	<key>PROJECT_ID</key>
	<string>naji-shop-getx</string>
	<key>STORAGE_BUCKET</key>
	<string>naji-shop-getx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142844199541:ios:f6d655f01254eb43966e3c</string>
</dict>
</plist>